body {
    min-width: 600px;
}

#mainWindow {
    display: block;
}

#innerInfo {
    text-align: center;
    margin: 20px;
}

.form {
    display: none;
}

.nav_btn {
    margin-right: 6px;
}

.nav_header{
    margin: auto;
}

.formHeader {
    margin-top: 20px;
}

#messagesSendStatus {
    font-size: 20px;
}

.statusBar {
    display: none;
}

.errorBar {
    display: none;
}

#girlImgBlock {
    width: 100px;
    height: 100px;
}

.girlPhoto {
    width: 50px;
    height: 50px;
}

img {
    width: 100%;
    height: 100%;
}