body {
    min-width: 600px;
}

#innerInfo {
    text-align: center;
    margin: 20px;
}

form {
    display: none;
}

.nav_btn {
    margin-right: 6px;
}

.nav_header{
    margin: auto;
}

.formHeader {
    margin-top: 20px;
}

#girlImgBlock {
    width: 100px;
    height: 100px;
}

img {
    width: 100%;
    height: 100%;
}