#exmodal {
    position: fixed;
    overflow: auto;
    left: 36%;
    top: 20%;
    display: none;
    z-index: 999999999;
    width: 800px;
    height: 600px;
    background-color: white;
    border: black;
    border-style: solid;
}
#exmodal_header {
    display: flex;
    background-color: white;
    width: 100%;
    height: 60px;
}
#exmodaltext {
    font-size: 28px;
}
#exmodal_close {
    color: black;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 500px;
}
#exmodal_content {
    background-color: white;
    width: 100%;
    height: 100%;
}
#extension {
    width: 240px;
}
.exheader {
    width: 240px;
}
#invite_input {
    width: 240px;
}
.exlabel {
    width: 240px;
}
#banned_input {
    width: 240px;
}
#limit_input {
    width: 60px;
}
#start_button {
    width: 175px;
}
#messages_status {
    width: 240px;
}
#subject_input {
    width: 240px;
}
#letter_input{
    width: 240px;
}
#banned_input_letters{
    width: 240px;
}
#choose_photo_button{
    width: 240px;
}
#letters_limit_input{
    width: 60px;
}
#send_letter_button{
    width: 175px;
}
.run{
    color: green;
}
.finish{
    color: red;
}
.choosen_image{
    max-width: 240px;
}